:root {
    --primary-color: #240642;
    --secondary-color: #4b1b7a;
    --tertiary-color: #a64ba6;
    --quaternary-color: #944f94;
    --quinary-color: #ffccff;
    --senary-color: #ff66ff;
    --septenary-color: #7516a9;
    --octonary-color: #ff00cc;
    --nonary-color: #ff0099;
    --denary-color: #333233;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Copperplate gothic", serif;
    text-shadow: 0 0 1px rgba(51, 51, 51, 0.5);
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    color: var(--quinary-color);
    background-color: var(--primary-color);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--quinary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--quaternary-color);
}
