:root {
    --primary-color: #240642;
    --secondary-color: #ff0066;
    --tertiary-color: #ff00ff;
    --quaternary-color: #ff99ff;
    --quinary-color: #ffccff;
    --senary-color: #ff66ff;
    --septenary-color: #ff33ff;
    --octonary-color: #ff00cc;
    --nonary-color: #ff0099;
    --denary-color: #ff0066;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Copperplate gothic", serif;
    text-shadow: 0 0 1px rgba(51, 51, 51, 0.5);
}
body {
    overflow-x: hidden;
    color: var(--quinary-color);
}
