.r {
  font-family: "Copperplate gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.b {
  font-family: "Copperplate gothic", serif;
  font-weight: 700;
  font-style: normal;
}

.i {
  font-family: "Copperplate gothic", serif;
  font-weight: 400;
  font-style: italic;
}

.bi {
  font-family: "Copperplate gothic", serif;
  font-weight: 700;
  font-style: italic;
}

